
.darkbackground {
  background-color: #ffffff;
}

.darkbanner {
  background-color: #56575E;
}

.smallbanner{
  background-color: #5c3d6d;
  height: 60px;
}

.xsbanner{
  background-color: #5c3d6d;
  height: 100px;
  margin-bottom: 30px;
  padding-bottom: :30px;
}
.darknavbar {
  background-color: #333333
}

body {
  color: #808080;
  padding: 0px;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 1.286em;
  line-height: 20px;
  font-weight: 240;
  letter-spacing: .143em;
}

.navbar-default .navbar-brand {
  color: #808080;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d6d6ff;
  background-color: transparent;
  font-weight: 240;
}

.navbar-default .navbar-text {
  color: #808080;
}

.navbar-default .navbar-nav > li > a {
  color: #808080;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d6d6ff;
  background-color: transparent;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  box-shadow: .5em .5em .25em #4D4E55;
}

.storejumbo {
  margin-bottom: 60px;
  padding-bottom: 100px;
  box-shadow: none;
  height: 400px;
  /*width: 65%;*/
  background-image: url(../img/storejumbo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.headerjumbo {
  margin-bottom: 30px;
  padding-bottom: 30px;
  box-shadow: none;
  background-color: #ffffff;
  height: 300px;
}

/*.signupform {
  color: #000;
  box-shadow: none;
  height: 530px;
}*/

.comicimg {
  max-height: 34em;
  max-width: 16em;
}

.comicmaxsize {
  max-height: 50em;
  max-width: 50em;
}

.centered{
    float: none;
    margin: 0 auto;
}

.paddingstandard {
  padding-top: 30px;
  padding-bottom: 30px;
}

#email-banner {
  font-size: 14pt;
  color: #ffffff;
}

.btn-default {
  color: #ffffff;
  background-color: #3d3072;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #531096;
  border-color: #adadad;
}

a.anchorlink, a.hover, a.visited{
  color: #333333;
  text-decoration: none;
}


h1.ajmck-heading {
  font-size: 4em !important;
  font-weight: 400 !important;
  color: #1f1f2e !important;
}

 html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 100px;
}
#footer {
  background-color: #999999;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}